/*DEFINICION DE VARIABLES*/
:root{
    --colorPrincipal: #FFFFFF;
    --colorSecondary: #27AE60;
    --colorThierd: #000000;

    --colorBackground: #F2F7F9;
    --colorTransparent: transparent;

    --colorIcon: #B5B6B7;
    --colorTitle: #222222;
    --colorSubtitle: #888;
    --colorText: #555;

    --colorBorderReviews: #E5E6E7;
    --colorCompany: #A5A6A7;

    --colorBackgroundCertificate: #f5f5f5;
    --colorBackgroundContact: #fcfcfc;
}
.resume__subheader{
    display: inline-block;
    padding-right: 1.2rem;
    margin-bottom: 2.5rem;
    position: relative;
}

.title__color,
.subtitle__color{
    color: var(--colorSecondary);
}

.subtitle__white{
    color: var(--colorPrincipal);
}

.resume_subtitle{
    font-size: 2.1rem;
}

.resume_subtitle::after{
    content: "";
    position: absolute;
    top: 15px;
    right: 0px;

    width: 30px;
    height: 20px;
    background-image: -webkit-repeating-radial-gradient(center center, var(--colorSecondary), var(--colorSecondary) 1px, transparent 0px, transparent 100%);
    background-size: 6px 6px;
    opacity: 0.5;
}

/*CURRICULUM*/
.resume__container {
  width: 100%;
  display: flex;
  flex-direction: row;
}
/*CURRICULUM IZQUIERDA*/
.resume__left {
  flex-basis: 58%;
  margin-right: 1.5rem;
}
.resume__timelines {
  margin-bottom: 5rem;
}
.timelines__timeline {
  position: relative;
  width: 100%;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: row;
}
.timeline__header {
  flex-basis: 30%;
  text-align: right;
  padding-right: 2.5rem;
}
.timeline__year {
  margin: 0.3rem 0;
  line-height: 1.9rem;
  font-size: 1.4rem;
}
.timeline__company {
  display: block;
  font-size: 1.3rem;
  font-weight: lighter;
  color: var(--colorCompany);
}
.timeline__descriptions {
  width: 70%;
  padding-left: 2.5rem;
  padding-right: 1.5rem;
}
.timeline__title {
  font-size: 1.6rem;
  margin-bottom: 0.3rem;
}
.timeline__description {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  text-align: justify;
}
.timeline__divider {
  position: absolute;
  top: 0;
  left: 30%;
  bottom: -18px;
  width: 1px;
  height: auto;
  background-color: var(--colorBorderReviews);
}
.timeline__divider::before {
  content: "";
  position: absolute;
  margin-top: 0.4rem;
  margin-left: -0.8rem;
  width: 1.7rem;
  height: 1.7rem;
  background-color: var(--colorSecondary);
  border-radius: 10rem;
  opacity: 0.25;
}
.timeline__divider::after {
  content: "";
  position: absolute;
  margin-top: 0.8rem;
  margin-left: -0.4rem;
  width: 0.9rem;
  height: 0.9rem;
  background-color: var(--colorPrincipal);
  border-radius: 10rem;
  border: 2px solid var(--colorSecondary);
  opacity: 1;
}

/*CURRICULUM DERECHA*/
.resume__right {
  flex-basis: 41%;
  padding: 0 1.5rem;
}
.resume__skills {
  width: 100%;
  margin-bottom: 3rem;
}
.skills__title {
  display: flex;
  justify-content: space-between;
}
.skills__text {
  font-size: 1.3rem;
  line-height: 1.4rem;
  margin-bottom: 0.4rem;
}
.skills__number {
  font-size: 1.2rem;
  line-height: 1.4rem;
  margin-bottom: 0.4rem;
  color: var(--colorSubtitle);
}
.skills__progressBar {
  height: 1rem;
  border: 1px solid var(--colorSecondary);
  border-radius: 1rem;
  background-color: var(--colorPrincipal);
  margin-bottom: 1rem;
}
.skills__percentage {
  width: 40%;
  height: 0.8rem;
  background-color: var(--colorSecondary);
  border: 2px solid var(--colorPrincipal);
  border-radius: 1rem;
}
.skills_percentage--h1 {
  width: 90%;
}
.skills_percentage--h2 {
  width: 70%;
}
.skills_percentage--h3 {
  width: 60%;
}
.skills_percentage--h4 {
  width: 80%;
}

.skills_percentage--p1 {
  width: 97%;
}
.skills_percentage--p2 {
  width: 85%;
}
.skills_percentage--p3 {
  width: 80%;
}
.skills_percentage--p4 {
  width: 92%;
}
.skills_percentage--p5 {
  width: 81%;
}
.skills_percentage--p6 {
  width: 71%;
}
.skills_percentage--p7 {
  width: 82%;
}
.skills_percentage--p8 {
  width: 82%;
}

.knowledges__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.knowledges__option {
  padding: 0.4rem 1rem;
  margin: 0.3rem;
  font-size: 1.4rem;
  background-color: var(--colorSecondary);
  border-radius: 0.3rem;
  color: var(--colorPrincipal);
}
.certificates__container {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  gap: 3rem;
}
.certificates__certificate {
  flex-basis: calc(50% - 3rem);
  border: 2px solid var(--colorSecondary);
  border-radius: 0.8rem;

  display: flex;
  flex-direction: row;

  transition: all 300ms ease-in-out;

  cursor: pointer;
}
.certificates__certificate:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 18px 24px -5px rgba(0, 0, 0, 0.15);
}
.certificate__logo {
  width: 25rem;
  height: 100%;
  padding: 2.5rem;
  background-color: var(--colorBackgroundCertificate);
  border-radius: 0.8rem;

  display: flex;
  justify-content: center;
  align-items: center;
}
.certificate__image {
  width: 100%;
}
.certificate__content {
  padding: 2rem 2.5rem;
}
.certificate__title {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}
.certificate__id {
  display: block;
  max-width: 0.3rem;
  font-size: 1.3rem;
  color: var(--colorSubtitle);
}
.certificates__date {
  font-size: 1.2rem;
  color: var(--colorSecondary);
  opacity: 0.7;
}
